# Environment variables
.env
secrets.env
infra/secrets/secrets.env

# Python dependencies layer
infra/layers/python-deps/python/
#data/*
data/local/ai_enrichment/silver/delta/
data/local/linkedin_companies/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
.terraform.lock.hcl

.cache/
.cache
# Lambda deployment packages
*.zip
tree.txt

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
tmp/
*.swp
*.swo