# Environment variables
.env
secrets.env
infra/secrets/secrets.env

# Python dependencies layer
infra/layers/python-deps/python/
data/*

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
.terraform.lock.hcl

# Lambda deployment packages
*.zip
tree.txt

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
tmp/
*.swp
*.swo